/* Css for keoung */
.tb-header.p-datatable-header-cell{
    color: black;
    background-color: #7BE0B6;
    border-color: #AFAFAF;
}
.search.p-inputtext {
  /* width: 800px; */
  border: 1px solid #7BE0B6;
  border-radius: 4px;
}
  .btn-custom.p-button {
    font-size: 1.2rem;
    padding: 20px;
}
.btn-edit.p-button,
.btn-delete.p-button,
.btn-view.p-button {

  border: none;
  cursor: pointer;
  background: none;
}
.btn-cancel.p-button {
  border: none;
  cursor: pointer;
  background: none;
}
.inputnumber.p-inputnumber {
  width: 100px;
  border: 1px solid #7BE0B6;
  border-radius: 4px;
}
.paymenttype.p-button {
  width: 30px;
  height: 10px;
}
